@import url(./vars.css);

body {
  background-color: var(--bcg-color);
}
.form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: var(--form-width);
  color: var(--text-color);
  transition: all ease;
}

.form__fields {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  border-radius: 10px;
}

.field {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.5s ease;
}

.field__name {
  font-size: 18px;
  font-weight: normal;
  width: 40%;
}

.field__input {
  width: 60%;
  height: 25px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--button-color);
  outline: none;
  transition: all 0.2s ease-in-out;
}

[name='address'] {
  resize: vertical;
}

.field__input:focus {
  box-shadow: 0 0 10px var(--border-color);
}

.radio {
  accent-color: var(--text-color);
}

.radio:focus {
  box-shadow: none;
}

.agreement {
  display: flex;
  flex-direction: row;
}

.agreement__input {
  margin: 0 10px 0 20px;
  accent-color: var(--text-color);
}

.agreement__text {
  font-size: 16px;
  font-weight: normal;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.button {
  width: 180px;
  height: 30px;
  color: var(--text-color);
  background-color: var(--button-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  transition: all 0.5s ease;
}

.button:hover {
  color: var(--button-color);
  background-color: var(--text-color);
}
